<section class="text-white">
    <div class="flex items-center gap-4">
        <div class="h-9 w-9 rounded-full ring-2 ring-green-400 overflow-hidden">
            <img src="../../../assets/img/like.jpg" class="h-full w-full object-cover" alt="">
        </div>
        <div>
            <h3 class="text-2xl font-semibold">Chats</h3>
        </div>
    </div>
    <div class="mt-4 flex items-center bg-black/30 backdrop-blur-3xl justify-between rounded-full p-2">
        <input type="search" class="bg-transparent w-full outline-none" placeholder="Search or start new chat" name="" id="">
        <button class="bg-white/30 backdrop-blur-3xl grid place-content-center h-6 w-6 rounded-full border border-white/30">S</button>
    </div>

    <div class="mt-4">
        <button class="w-full hover:bg-white/20 rounded-2xl hover:p-3 duration-300 p-2">
            <div class="flex justify-between">
                <div class="flex items-center gap-4">
                    <div class="h-9 w-9 rounded-full ring-2 ring-green-400 overflow-hidden">
                        <img src="../../../assets/img/glo.jpg" class="h-full w-full object-cover" alt="">
                    </div>
                    <div class="">
                        <div class="flex flex-col items-start">
                            <h3 class="font-semibold">Glodie</h3>
                            <p class="text-gray-300">how are you ?</p>
                        </div>  
                    </div>
                </div>
                <div class="flex flex-col items-end">
                    <h5 class="text-sm">12:45'</h5>
                    <p class="h-5 w-5 grid place-content-center text-sm bg-green-400 rounded-full">3</p>
                </div>
            </div>
        </button>
    </div>
</section>